.body {
  background-color: #171717;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}

.container {
  display: flex;
  justify-content: center;
  color: aliceblue;
  padding: 10px;
}